.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--c-fondo);
  color: #ccc;
  height: 30px;
  -webkit-app-region: drag;
  padding: 0 0 0 0.5rem;
  border-bottom: 1px solid var(--border-general);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.title-bar,
.title-bar * {
  user-select: none; /* evita selección de texto */
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title-left {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-app-region: no-drag; /* permite usar menús */
}
.title-center {
  flex: 1;
  text-align: center;
  font-size: 13px;
  color: var(--txt-normalb);
  pointer-events: none; /* permite arrastrar la ventana aunque hagas clic */
  -webkit-app-region: drag;
}

.title-logo {
  width: 1.5rem;
  object-fit: contain;
}

.menu-bar {
  display: flex;
  gap: 8px;
}

.menu-item {
  position: relative;
  padding: 0 6px;
  cursor: pointer;
  font-size: 13px;
  line-height: 30px;
  user-select: none;
  color: var(--txt-normalb);
}

.menu-item:hover {
  background: var(--hover-general);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--c-fondo);
  border: 1px solid var(--border-general);
  border-radius: 4px;
  min-width: 140px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 13px;
}
.dropdown-item svg {
  margin-top: 1px;
  padding: 0;
}

.dropdown-item:hover {
  background: var(--hover-general);
}

.dropdown-separator {
  height: 1px;
  background: var(--txt-normalb);
  margin: 4px 0;
}

.title-right {
  display: flex;
  gap: 2px;
  -webkit-app-region: no-drag;
}

.win-btn {
  border: none;
  background: var(--c-fondo);
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.win-btn:focus {
  outline: none;
  border: none;
}

.win-btn.max svg {
  font-size: 0.8rem !important;
}
.win-btn.min svg {
  font-size: 0.8rem !important;
  margin-bottom: 0.4rem;
}
.win-btn.close svg {
  font-size: 1.2rem !important;
}
.win-btn:hover {
  background: var(--hover-general);
}

.win-btn.close:hover {
  background: #e81123;
  color: white;
}
