/* ====== Header Container ====== */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c-fondo);
  padding: 10px 20px;
  color: var(--c-principal);
  border-bottom: 1px solid var(--border-general);
  user-select: none;
}

/* ====== Title ====== */
.header-title {
  display: flex;
  flex-direction: column;
}

.header-title-text {
  margin: 0;
  font-size: 18px;
}

.header-filename {
  color: var(--txt-normal);
  font-size: 13px;
}

.header-file-info {
  margin-top: 4px;
  font-size: 13px;
  color: var(--txt-code);
}

.header-file-info span {
  margin-right: 10px;
}

/* ====== Actions ====== */
.header-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-title-group {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 7px 18px;
  border-radius: 5px;
  border: 1px solid var(--border-general);
  cursor: pointer;
  font-size: 13px;
  background: var(--c-fondo-btn);
  color: var(--txt-code);
  transition: all 0.2s ease;
}

.header-btn:hover:not(:disabled) {
  background: var(--c-principal);
  color: white;
  border: 1px solid white;
}

.header-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* ====== Toggle (Code ↔ Cards) ====== */
.header-toggle {
  display: flex;
  align-items: center;
  background: #3a3a3a;
  border-radius: 20px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background 0.3s;
  user-select: none;
}

.header-toggle:hover {
  background: var(--c-fondo-secundario);
  color: var(--txt-normald);
}

.header-toggle:hover .header-toggle-thumb {
  background: var(--c-principal);
}

.header-toggle-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  font-size: 12px;
}

.header-toggle-label {
  font-size: 13px;
  color: var(--txt-normald);
}

.mode-switch {
  display: flex;
  background: var(--c-fondo-btn);
  padding: 4px;
  border-radius: 8px;
  gap: 4px;
  border: 1px solid var(--border-general);
}

.mode-btn {
  padding: 6px 14px;
  border-radius: 6px;
  background: transparent;
  border: none;
  color: var(--txt-normal);
  cursor: grab;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.mode-btn:active {
  cursor: grabbing;
}

.mode-btn:hover {
  background: rgba(255, 255, 255, 0.06);
}

.mode-btn.dragging {
  opacity: 0.55;
}

.mode-btn.active {
  background: var(--c-principal);
  color: white;
}

/* 🎄 Header con luces navideñas cuando la nieve está activa */
