/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --c-principal: #00c896;
  --c-fondo: #121212;
  --c-fondo-secundario: #1e1e1e;
  --c-fondo-btn: #2a2a2a;
}
body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--c-fondo);
  color: #f0f0f0;
}

/* Contenedor principal */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ===== Scrollbar global ===== */
* {
  scrollbar-color: #00c896 var(--c-fondo-secundario); /* thumb y track */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--c-fondo-secundario); /* fondo */
}

*::-webkit-scrollbar-thumb {
  background-color: #00c896; /* color de la barra */
  border-radius: 6px;
  border: 2px solid var(--c-fondo-secundario); /* borde para dar efecto de espacio */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #00e0aa; /* hover más brillante */
}
